h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
}
.navbar-brand {
  padding-top: 1px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .navbar-brand {
    font-size: 1.375rem;
  }
}

.bg-lightdark {
  background-color: #303030;
  color: #F9F9F9;
}
.bg-deepdark {
  background-color: #050505;
  color: #F9F9F9;
}
.bg-deepdark .maincontent .gallery a {
  color: #F9F9F9;
}
.navbar-dark {
  color: #E7E7E7;
}

.anchor::before { 
  display: block; 
  content: " "; 
  margin-top: -150px; 
  height: 150px; 
  visibility: hidden; 
  pointer-events: none;
}

body .maincontent {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
body .maincontent h1 {
  font-size: 3rem;
  font-weight: 600;
}
body .maincontent h2 {
  font-size: 2.75rem;
  font-weight: 400;
}
body .maincontent h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.maincontent {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.toc_container {
  padding: 1rem 2rem;
  display: table;
  font-size: 0.95rem;
  background-color: #F5F2F0;
}

.maincontent blockquote {
  margin: 0 1rem 1rem;
  padding: 1rem 2rem;
  display: block;
  font-size: 1.05rem;
  font-style: italic;
  background-color: #F5F2F0;
}

.maincontent .footnote {
  font-size: 0.95rem;
  color: #585858;
  font-style: italic;
}

header.masthead {
  height: 75%;
  height: 75vh;
  height: calc(75% - 56px);
  height: calc(75vh - 56px);
  min-height: 400px;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 75%;
  height: 75vh;
  height: calc(75% - 56px);
  height: calc(75vh - 56px);
  min-height: 400px;
  width: 100%;
  background-color: #080808;
  opacity: 0.45;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead {
    height: 75%;
    height: 75vh;
    height: calc(75% - 56px);
    height: calc(75vh - 56px);
    min-height: 450px;
    margin-bottom: 2rem;
  }
  header.masthead .overlay {
    height: 75%;
    height: 75vh;
    height: calc(75% - 56px);
    height: calc(75vh - 56px);
    min-height: 450px;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead {
    height: 85%;
    height: 85vh;
    height: calc(85% - 56px);
    height: calc(85vh - 56px);
    min-height: 480px;
    margin-bottom: 2rem;
  }
  header.masthead .overlay {
    position: absolute;
    height: 85%;
    height: 85vh;
    height: calc(85% - 56px);
    height: calc(85vh - 56px);
    min-height: 480px;
  }
}

header.masthead a {
  color: #F9F9F9;
}

/* page-heading */
header.masthead .page-heading {
  padding: 20% 0 0;
  padding: 20vh 0 0;
  color: #F9F9F9;
  text-align: center;
}
header.masthead .page-heading h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
header.masthead .page-heading .subheading {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  display: block;
  margin: 10px 0 0;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead .page-heading {
    padding: 25% 0 0;
    padding: 25vh 0 0;
  }
  header.masthead .page-heading h1 {
    font-size: 4.5rem;
  }
  header.masthead .page-heading .subheading {
    font-size: 1.5rem;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead .page-heading {
    padding: 30% 0 0;
    padding: 30vh 0 0;
  }
  header.masthead .page-heading h1 {
    font-size: 6rem;
  }
  header.masthead .page-heading .subheading {
    font-size: 1.75rem;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
  }
}

/* post-heading */
header.masthead .post-heading {
  padding: 10% 0 0;
  padding: 10vh 0 0;
  color: #F9F9F9;
}
header.masthead .post-heading h1 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
header.masthead .post-heading .subheading, 
header.masthead .post-heading .meta {
  line-height: 1.1;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 1rem;
}
header.masthead .post-heading .subheading {
  font-size: 1.25rem;
  margin: 10px 0 10px;
}
header.masthead .post-heading .meta {
  font-size: 1rem;
  font-style: italic;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 3.25rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.5rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 4rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 2rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1.25rem;
  }
}

.post-preview h2 {
  font-family: 'Ubuntu', sans-serif;
}
.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #33AAFF;
}
.post-preview > a > .post-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 10px;
}
.post-preview > .post-meta {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #33AAFF;
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

/* Photography gallery */
.btn.filter {
  padding-left: 1rem;
  padding-right: 1rem;
}
.gallery {
  column-count: 1;
  column-width: 100%;
  column-gap: 0.5rem;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .gallery {
    column-count: 2;
    column-width: 50%;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .gallery {
    column-count: 3;
    column-width: 33%;
  }
}

.photo-block {
  page-break-inside: avoid;
  break-inside: avoid;
}

.responsive-container {
    width: 100%;
    position: relative;
}
.responsive-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-block p {
  line-height: 1.4;
  font-size: 0.95rem;
}

.fade-in {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 2.3s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {opacity: 0.01;}
  50% {opacity: 0.05;}
  100% {opacity: 1;}
}
.slide-in-bottom {
  animation-name: slideInBottom;
  animation-timing-function: ease;
  animation-duration: 1.8s;
}
@keyframes slideInBottom {
  0% {margin-top:200%; opacity:0;}
  50% {margin-top:70%; opacity:0;}
  100% {margin-top:0%; opacity:1;}
}

.fade-in-fast {
  animation-name: fadeInAnimation;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {opacity: 0.01;}
  50% {opacity: 0.05;}
  100% {opacity: 1;}
}
.slide-in-bottom-fast {
  animation-name: slideInBottom;
  animation-timing-function: ease;
  animation-duration: 1.2s;
}
@keyframes slideInBottom {
  0% {margin-top:200%; opacity:0;}
  33% {margin-top:70%; opacity:0;}
  100% {margin-top:0%; opacity:1;}
}

/* Footer */
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.85rem;
  background-color: #585858;
  color: #F9F9F9;
}
footer a {
  color: #F9F9F9;
}
footer a:hover {
  color: #F9F9F9;
}
footer .social-icon {
  padding-inline-start: 0;
}
footer .social-icon li {
  display:inline-block;
  list-style-type:none;
  user-select:none;
}
footer .social-icon li a {
  border-bottom: none;
}
footer .social-icon li img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.maincontent .filter-button button {
  font-size: 0.8rem;
  background-color: #404040;
  border-color: #404040;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .maincontent .filter-button button {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .maincontent .filter-button button {
    font-size: 1.1rem;
  }
}

.modal-content {
  background-color: #080808;
  font-family: 'Noto Sans', sans-serif;
}

.modal .modal-body {
  padding: 0;
}

.modal img {
  width: 100%;
  height: auto;
}

.modal p {
  padding: 0.5rem;
}

.modal .modal-title {
  font-weight: 600;
  font-size: 1.15rem;
}

.modal .modal-location {
  font-size: 0.95rem;
}

.modal-backdrop
{
    opacity:0.8 !important;
}

