h1, 
h2 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #0066CC;
}

.bg-deepdark {
  text-decoration: none;
  color: #2997FF;
}

/* Inside nvarbar.php now:
.navbar {font-family: 'Ubuntu', Helvetica, sans-serif;} */

.navbar-brand {
  padding-top: 1px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) and (min-height: 400px) {
  .navbar-brand {
    font-size: 1.375rem;
  }
}
.bg-lightdark {
  background-color: #303030;
  color: #F9F9F9;
}
.bg-deepdark {
  background-color: #050505;
  color: #F9F9F9;
}
.bg-deepdark .maincontent .gallery a {
  color: #F9F9F9;
}
.navbar-dark {
  color: #E7E7E7;
}

.anchor::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}

body .maincontent {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
body .maincontent h1 {
  font-size: 3rem;
  font-weight: 600;
}
body .maincontent h2 {
  font-size: 2.75rem;
  font-weight: 400;
}
body .maincontent h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.maincontent {
  padding-top: 1rem;
  padding-bottom: 2rem;
  animation-name: fade-in-animation;
  animation-timing-function: ease;
  animation-duration: 0.75s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

.toc_container {
  padding: 1rem 2rem;
  display: table;
  font-size: 0.95rem;
  background-color: #F5F2F0;
}

.maincontent blockquote {
  margin: 0 1rem 1rem;
  padding: 1rem 2rem;
  display: block;
  font-size: 1.05rem;
  font-style: italic;
  background-color: #F5F2F0;
}

.maincontent .footnote {
  font-size: 0.95rem;
  color: #585858;
  font-style: italic;
}

header.masthead {
  height: 75%;
  height: 75vh;
  height: calc(75% - 56px);
  height: calc(75vh - 56px);
  min-height: 400px;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 75%;
  height: 75vh;
  height: calc(75% - 56px);
  height: calc(75vh - 56px);
  min-height: 400px;
  width: 100%;
  background-color: #080808;
  opacity: 0.45;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead {
    height: 75%;
    height: 75vh;
    height: calc(75% - 56px);
    height: calc(75vh - 56px);
    min-height: 450px;
    margin-bottom: 2rem;
  }
  header.masthead .overlay {
    height: 75%;
    height: 75vh;
    height: calc(75% - 56px);
    height: calc(75vh - 56px);
    min-height: 450px;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead {
    height: 85%;
    height: 85vh;
    height: calc(85% - 56px);
    height: calc(85vh - 56px);
    min-height: 480px;
    margin-bottom: 2rem;
  }
  header.masthead .overlay {
    position: absolute;
    height: 85%;
    height: 85vh;
    height: calc(85% - 56px);
    height: calc(85vh - 56px);
    min-height: 480px;
  }
}

/* .masthead.masthead-sm */
header.masthead.masthead-sm {
  height: 50%;
  height: 50vh;
  height: calc(50% - 56px);
  height: calc(50vh - 56px);
  min-height: 300px;
  margin-bottom: 2rem;
}
header.masthead.masthead-sm .overlay {
  height: 50%;
  height: 50vh;
  height: calc(50% - 56px);
  height: calc(50vh - 56px);
  min-height: 300px;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead.masthead-sm {
    height: 50%;
    height: 50vh;
    height: calc(50% - 56px);
    height: calc(50vh - 56px);
    min-height: 300px;
    margin-bottom: 2rem;
  }
  header.masthead.masthead-sm .overlay {
    height: 50%;
    height: 50vh;
    height: calc(50% - 56px);
    height: calc(50vh - 56px);
    min-height: 300px;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead.masthead-sm {
    height: 50%;
    height: 50vh;
    height: calc(50% - 56px);
    height: calc(50vh - 56px);
    min-height: 300px;
    margin-bottom: 2rem;
  }
  header.masthead.masthead-sm .overlay {
    position: absolute;
    height: 50%;
    height: 50vh;
    height: calc(50% - 56px);
    height: calc(50vh - 56px);
    min-height: 300px;
  }
}

header.masthead a {
  color: #F9F9F9;
  text-decoration: underline;
}

header.masthead a:hover {
  color: #BDDFFF;
}

/* page-heading */
header.masthead .page-heading {
  padding: 23% 0 0;
  padding: 23vh 0 0;
  color: #F9F9F9;
  text-align: center;
}
header.masthead .page-heading h1 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
header.masthead .page-heading .subheading {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  display: block;
  margin: 0.5rem 0 0;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead .page-heading {
    padding: 25% 0 0;
    padding: 25vh 0 0;
  }
  header.masthead .page-heading h1 {
    font-size: 4rem;
  }
  header.masthead .page-heading .subheading {
    font-size: 1.5rem;
    margin: 0.5rem 0 0;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead .page-heading {
    padding: 30% 0 0;
    padding: 30vh 0 0;
  }
  header.masthead .page-heading h1 {
    font-size: 6rem;
  }
  header.masthead .page-heading .subheading {
    font-size: 1.75rem;
    margin: 0.5rem 0 0;
  }
}

/* .masthead-sm .page-heading*/
header.masthead.masthead-sm .page-heading {
  padding: 14% 0 0;
  padding: 14vh 0 0;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead.masthead-sm .page-heading {
    padding: 10% 0 0;
    padding: 10vh 0 0;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead.masthead-sm .page-heading {
    padding: 8% 0 0;
    padding: 8vh 0 0;
  }
}

/* post-heading */
header.masthead .post-heading {
  padding: 13% 0 0;
  padding: 13vh 0 0;
  color: #F9F9F9;
}
header.masthead .post-heading h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
}
header.masthead .post-heading .subheading, 
header.masthead .post-heading .meta {
  line-height: 1.25;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 0.5rem;
}
header.masthead .post-heading .subheading {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem;
}
header.masthead .post-heading .meta {
  font-size: 1rem;
  font-style: italic;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 3rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.5rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 4rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 2rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1.25rem;
  }
}

.post-preview h2 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}
.post-preview a {
  color: #212529;
}
.post-preview > a:focus, 
.post-preview > a:hover {
  text-decoration: none;
  color: #0066CC;
}
.post-preview .post-title {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-size: 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .post-preview .post-title {
    font-size: 2.25rem;
  }
}
.post-preview .post-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 0 0.5rem;
}
.post-preview .post-meta {
  font-size: 0.95rem;
  font-style: italic;
  margin-top: 0;
  color: #656b70;
}

.maincontent i.fa-icon {
  color: #303030;
  font-size: 1.85rem;
  margin-right: 0.75rem;
}

#back-to-top-button {
  display: none;
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  cursor: pointer;
  text-align: center;
  z-index: 99;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
}

#back-to-top-button > .fa-stack > i:first-child {
  color: #212529;
  opacity: 0.6;
}

#back-to-top-button > .fa-stack > i:last-child {
  color: #F9F9F9;
}

.hanging-indent p {
  text-indent: -1.5rem;
  padding-left: 3rem;
}

/* Photography gallery */
.btn.filter {
  padding-left: 1rem;
  padding-right: 1rem;
}
.gallery {
  column-count: 1;
  column-width: 100%;
  column-gap: 0.5rem;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .gallery {
    column-count: 2;
    column-width: 50%;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .gallery {
    column-count: 3;
    column-width: 33%;
  }
}

.photo-block {
  page-break-inside: avoid;
  break-inside: avoid;
}

.responsive-container {
    width: 100%;
    position: relative;
}
.responsive-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-block p {
  line-height: 1.4;
  font-size: 0.95rem;
}

.photo-block a, 
.photo-block a div {
  cursor: pointer;
}

/* Column design for text-blocks */

.sitemap {
  column-count: 1;
  column-width: 100%;
  column-gap: 2rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
@media screen and (min-width: 992px) and (min-height: 400px) {
  .sitemap {
    column-count: 2;
    column-width: 50%;
  }
}

.sitemap-section h2 {
  font-weight: 600;
}


/* ANIMATIONS */

@keyframes fade-in-animation {
  0% {opacity: 0;}
  25% {opacity: 0.01;}
  50% {opacity: 0.05;}
  100% {opacity: 1;}
}

.fade-in-slow {
  animation-name: fade-in-animation;
  animation-timing-function: ease;
  animation-duration: 2.6s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

.fade-in-fast {
  animation-name: fade-in-animation;
  animation-timing-function: ease;
  animation-duration: 0.6s;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

@keyframes slideInBottom {
  0% {margin-top:200%; opacity:0;}
  33% {margin-top:60%; opacity:0;}
  100% {margin-top:0%; opacity:1;}
}

.slide-in-bottom {
  animation-name: slideInBottom;
  animation-timing-function: ease;
  animation-duration: 1.8s;
}

.slide-in-bottom-fast {
  animation-name: slideInBottom;
  animation-timing-function: ease;
  animation-duration: 1.1s;
}

/* Footer */
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.95rem;
  background-color: #D6D6D6;
  color: #585858;
}

footer a {
  color: #585858;
}

footer a {
  cursor: pointer;
}

footer a:hover,
footer a li:hover {
  color: #303030;
}

footer .footer-icon {
  padding-inline-start: 0;
}

footer .footer-icon li {
  display:inline-block;
  list-style-type:none;
  user-select:none;
}

footer .footer-icon li i {
  font-size: 2.5rem;
}

footer .pipe-footer {
  padding: 0 0.5rem;
  color: #86868B;
}

.maincontent .filter-button-bar .btn {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .maincontent .filter-button-bar .btn {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .maincontent .filter-button-bar .btn {
    font-size: 1.25rem;
  }
}

.btn.filter-button.btn-sm {
  font-size: 0.8rem;
}
@media screen and (min-width: 576px) and (min-height: 400px) {
  .maincontent .filter-button-bar .btn {
    font-size: 0.95rem;
  }
}
@media screen and (min-width: 992px) and (min-height: 480px) {
  .maincontent .filter-button-bar .btn {
    font-size: 1rem;
  }
}

.maincontent .btn {
	border-radius: 18px;
}

.btn-outline-primary {
  color: #0071E3;
  border-color: #0071E3;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0071E3;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #F9F9F9;
  background-color: #0071E3;
  border-color: #0071E3;
}

.btn-outline-secondary {
  color: #585858;
  border-color: #585858;
}

.btn-outline-secondary:hover {
  color: #F9F9F9;
  background-color: #585858;
  border-color: #585858;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #585858;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #F9F9F9;
  background-color: #585858;
  border-color: #585858;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}


.btn-outline-light {
  color: #D6D6D6;
  border-color: #D6D6D6;
}

.btn-outline-light:hover {
  color: #303030;
  background-color: #D6D6D6;
  border-color: #D6D6D6;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #D6D6D6;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #303030;
  background-color: #D6D6D6;
  border-color: #D6D6D6;
}

.modal .modal-title {
  font-weight: 600;
  font-size: 1.15rem;
  color: #050505;
}

.modal-content {
  background-color: #F9F9F9;
  font-family: 'Noto Sans', sans-serif;
}

.modal-backdrop {
  opacity:0.4 !important;
}

#imagemodal .modal-backdrop {
    opacity:0.8 !important;
}

#imagemodal .modal-body{
  padding: 0;
}

#imagemodal .modal-content {
  background-color: #080808;
}

#imagemodal img {
  width: 100%;
  height: auto;
}

#imagemodal p {
  padding: 0.5rem;
}

#imagemodal p.modal-photo-title {
  font-weight: 600;
  font-size: 1.15rem;
}

#imagemodal p.modal-photo-location {
  font-size: 0.95rem;
}

/* CSS Animations */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
